{% extends 'base.html' %}

{% block content %}
<div class="top-of-page bg-blue-200 grid grid-cols-12 gap-4">
    <div class="left-side-section col-start-1 col-end-3 bg-yellow-200">
        <p>Cricket</p>
        <div>
            <ul>
                {% for cricket_news_article in cricket_news %}
                <a class="text-pink-500 inline-flex items-center mt-4" href="{% url 'main:article-detail' cricket_news_article.id %}">
                  <div class="border border-black-100 px-5 h-40">
                      <div class="sample-image w-40 mt-2">
                        <img src="{{ cricket_news_article.image.url }}">
                      </div>
                      <li>{{ cricket_news_article }}</li>
                    </div>
                  </a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="main-section bg-yellow-900 col-start-3 col-end-10">
        {% block topsection %}
        {% endblock topsection %}
    </div>
    <div class="right-side-section bg-yellow-400 col-start-10 col-end-13">
        <p>India</p>
        <div>
            <ul>
                {% for india_news_article in india_news %}
                <a class="text-pink-500 inline-flex items-center mt-4 border border-black-100 px-5 h-40 py-5" href="{% url 'main:article-detail' india_news_article.id %}">
                  <div class="border border-black-100 px-5 h-40 py-5">
                    <div class="sample-image w-40 mt-2">
                      <img src="{{ india_news_article.image.url }}" class="h-40 w-40">
                    </div>
                    <li>{{ india_news_article }}</li>
                  </div>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<section class="photo-section bg-blue-800">
    <div class="focus"></div>
    <div class="photo-list">
        <ul>
            <li>photos</li>
        </ul>
    </div>
</section>
<div class="divider-container bg-blue-500">
  <div class="topic">
      World
  </div>
  <hr>
  <ul class="list-container">
    {% for world_news_article in world_news %}                
    <li>
      <div class="photo">
        <img src="{{ world_news_article.image.url }}" class="border border-black-100 px-5 h-40 py-5">
      </div>
      <div class="some-headline">            
        <li>{{ world_news_article }}</li> 
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="divider-container bg-blue-500">
  <div class="topic">
      India
  </div>
  <hr>
  <ul class="list-container">
    {% for india_news_article in india_news %}                
    <li>
      <div class="photo">
        <img src="{{ india_news_article.image.url }}" class="border border-black-100 px-5 h-40 py-5">
      </div>
      <div class="some-headline">            
        <li>{{ india_news_article }}</li> 
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="divider-container bg-blue-500">
  <div class="topic">
      World
  </div>
  <hr>
  <ul class="list-container">
    {% for world_news_article in world_news %}                
    <li>
      <div class="photo">
        <img src="{{ world_news_article.image.url }}" class="border border-black-100 px-5 h-40 py-5">
      </div>
      <div class="some-headline">            
        <li>{{ world_news_article }}</li> 
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}