{% load static %}

<header class="text-white bg-blue-950 body-font">
    <div class="bg-blue-950 container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <div class="logo_container ">
        <a href="/main/" class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
          <span>
            <img src="{% static 'images/logo-2.png' %}" class="logo">
          </span>
        </a>
      </div>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-white" href="/contact/pop">Contact</a>
        <a class="mr-5 hover:text-white" href="">World</a>
        <a class="mr-5 hover:text-white" href="">India</a>
        <a class="mr-5 hover:text-white" href="">Business</a>
        <a class="mr-5 hover:text-white" href="">Technology</a>
        <a class="mr-5 hover:text-white" href="">Sports</a>
        <a class="mr-5 hover:text-white" href="">More</a>
        <button class="ml-2 items-center bg-green-400 border-0 py-1 px-3 focus:outline-none hover:bg-gray-100 rounded text-base mt-4 md:mt-0">
          Sign Up
          <!-- <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg> -->
        </button>
        <button class="ml-2 inline-flex items-center bg-red-400 border-0 py-1 px-3 focus:outline-none hover:bg-gray-100 rounded text-base mt-4 md:mt-0">
          Log In
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </button>
    </div>
    <hr>
    <div class="Search m-2" style="display: flex; justify-content: right;">
        <div class="search-box">
            <textarea placeholder="Search" class="h-8 p-1"></textarea>
        </div>
    </div>
    <hr />
  </header>