{% extends "index.html" %}

{% block content %}

<a href="#">
  <div class="border-2 border-red-600 mx-5 my-5 px-4 py-4 flex inline-flex">
    <p>
      Admin
    </p>
  </div>
</a>
<a href="/contributors/pop">
  <div class="border-2 border-red-600 mx-5 my-5 px-4 py-4 flex inline-flex">
    <p>
      Contributor
    </p>
  </div>
</a>
<a href="/editors/pop">
  <div class="border-2 border-red-600 mx-5 my-5 px-4 py-4 flex inline-flex">
    <p>
      Editor
    </p>
  </div>
</a>
<a href="/categories/pop">
  <div class="border-2 border-red-600 mx-5 my-5 px-4 py-4 flex inline-flex">
    <p>
      Category
    </p>
  </div>
</a>
<a href="#">
  <div class="border-2 border-red-600 mx-5 my-5 px-4 py-4 flex inline-flex">
    <p>
      Reserved
    </p>
  </div>
</a>
{% endblock content %}